<bandcamp-header>Loading...</bandcamp-header>
  <p>
    <!--It seems as though my .css files are not loading into the server.  
    Nothing I do to any .css file makes any changes, and when I inspect the webpage, the .css files are not shown in my directory.
    No idea what might be wrong.-->
  </p>


<!--
  <body style="background-color: gray">
<svg class="bi" width="32" height="32" file="currentColor">
    <use xlink:href="assets/bootstrap-icons.svg#heart-fill"/>
    
</svg>

<p>
  stuff
</p>
-->

<bandcamp-footer>
  Loading...
</bandcamp-footer>
