<bandcamp-header>Loading...</bandcamp-header>
  <p>
    Welcome to bandcamp!
    <img src="/assets/bandcamp-logo.png">
  </p>


<svg class="bi" width="32" height="32" fill="currentColor">
  <use xlink:href="./assets/bootstrap-icons.svg#heart-fill"/>
</svg>

<!--
  <body style="background-color: gray">
<svg class="bi" width="32" height="32" file="currentColor">
    <use xlink:href="assets/bootstrap-icons.svg#heart-fill"/>
    
</svg>

<p>
  stuff
</p>

<bandcamp-footer>
  Loading...
</bandcamp-footer>
-->